body {
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.4), transparent 1px);
  background-size: 30px 30px;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}
.area-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#area {
  width: 360px;
  height: 360px;
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 120px;
  height: 120px;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 34px;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-result-container {
  width: 100%;
  height: 100%;
  display: none;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#model-window {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

#btn-close {
  width: 150px;
  height: 20px;
  background-color: tomato;
  color: teal;
  text-align: center;
  cursor: pointer;
}

table {
  border: 3px solid black;
}

.score {
  border: 0;
}
td {
  border: 1px solid grey;
}
.name-table {
  font-size: 25px;
}
.whose-move {
}
